<!DOCTYPE html>
<html>

<head>
    <title>La Ch&#232;vre Grisette</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" name="og:title" content="La Ch&#232;vre Grisette" />
    <meta property="og:type" name="og:type" content="website" />
    <meta property="og:image" name="og:image"
        content="https://media.githubusercontent.com/media/la-chevre-grisette/art/main/images/logo.png" />
    <meta property="og:description" name="og:description" content="Elevage caprin avec transformation fromag&#232;re" />
    <meta property="og:locale" name="og:locale" content="fr_FR" />
    <meta property="og:site_name" name="og:site_name" content="La Ch&#232;vre Grisette" />
    <meta property="twitter:card" name="twitter:card" content="summary" />

    <!-- Experiences -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="preconnect" href="https://cdn.simpleicons.org" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link rel="preconnect" href="https://media.githubusercontent.com" />
    <link rel="preconnect" href="https://raw.githubusercontent.com" />

    <!-- Fonts -->
    <link href="https://fonts.bunny.net/css?family=akaya-telivigala:400|montserrat:500" rel="stylesheet" />

    <!-- Styles -->
    <link rel="icon" type="image/png"
        href="https://media.githubusercontent.com/media/la-chevre-grisette/art/main/images/favicon_32.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.20/dist/css/uikit.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.20/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.20/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/less@4.2"></script>

    <style rel="stylesheet/less" type="text/css">
        h1,
        h2,
        h3,
        h4 {
            font-family: 'Akaya Telivigala', display;
        }

        #relay {
            font-family: 'Montserrat', "Helvetica", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
        }

        #card {
            background-color: rgba(226, 226, 226, 0.8);
            max-width: 50em;
        }

        div {
            font-family: 'Montserrat', "Helvetica", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: uppercase;
        }

        .products div {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="uk-cover-container uk-text-center" uk-height-viewport>
        <video src="https://media.githubusercontent.com/media/la-chevre-grisette/art/main/videos/background.mp4"
            autoplay loop muted playsinline uk-cover></video>

        <div id="card" class="uk-inline uk-container-expand uk-padding-small">
            <!-- Logo -->
            <div class="uk-grid uk-flex-middle" uk-grid>
                <div class="uk-width-2-3@s">
                    <h1>Découvrez nos produits</h1>
                </div>

                <div class="uk-width-1-3@s">
                    <img src="https://raw.githubusercontent.com/la-chevre-grisette/art/main/images/logo.svg"
                        alt="Le logo de la ch&#232;vre Grisette" width="300" />
                </div>
            </div>

            <!-- La Carte -->
            <div class="products uk-grid uk-child-width-1-1@s uk-text-left" uk-grid>
                <div>
                    <div>
                        <h2>Les Fromages</h2>

                        <div class="uk-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-expand" uk-leader>Crottin nature</div>
                            <div>3,50 €</div>
                        </div>
                        <div class="uk-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-expand" uk-leader>Crottin aromatis&#233;</div>
                            <div>4,00 €</div>
                        </div>
                        <div class="uk-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-expand" uk-leader>Crottin demi-sec</div>
                            <div>3,50 €</div>
                        </div>
                        <div class="uk-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-expand" uk-leader>Crottin sec</div>
                            <div>3,50 €</div>
                        </div>
                        <div class="uk-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-expand" uk-leader>Buchette</div>
                            <div>6,90 €</div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <h2>Les Yaourts</h2>

                        <div class="uk-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-expand" uk-leader>Nature</div>
                            <div>1,00 €</div>
                        </div>
                        <div class="uk-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-expand" uk-leader>Sur lit de confiture</div>
                            <div>1,20 €</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Les points de ventes -->
            <div id="relay" class="uk-grid uk-flex-middle" uk-grid>
                <div class="uk-width-1-3@s">
                    <div>En vente <strong>à la ferme</strong> le samedi de 10h à 12h45</div>
                    <div>ou en retrait de commande aux emplacements de...</div>
                </div>

                <div class="uk-animation-toggle uk-width-2-3@s" tabindex="0">
                    <a target="_blank"
                        href="https://www.facebook.com/people/La-remorque-%C3%A0-Pizza/100049475065753/"><img
                            class="uk-background-secondary uk-padding-small uk-animation-shake"
                            src="https://cdn.website.dish.co/media/53/10/1632971/La-Remorque-a-Pizza-logo-LaRemorqueaPizza-blanc-site.jpg" /></a>
                    <div>Echavanne | Etobon | Brognard | Lomont | Andornay</div>
                    <div class="uk-width-expand@s"><strong>Commande par SMS avant 13h</strong></div>
                </div>

            </div>

            <!-- Contacts -->
            <div class="uk-grid uk-flex-middle uk-flex-center uk-text-left" uk-grid>
                <div>
                    <h2>Contact</h1>
                </div>

                <div>
                    <div>10 rue haute, 70400 ECHAVANNE</div>
                    <div>07.49.67.58.82</div>
                    <div><a href="mailto:bonjour@lachevregrisette.fr">bonjour@lachevregrisette.fr</a></div>
                    <div><a href="https://www.lachevregrisette.fr">www.lachevregrisette.fr</a></div>
                </div>
            </div>

            <!-- Social Networks -->
            <div class="uk-grid uk-flex-middle uk-flex-center" uk-grid>
                <div class="uk-width-2-3@s">
                    <h2>Retrouvez-nous sur les r&#233;seaux &#128073;</h2>
                </div>

                <div class="uk-width-1-3@s">
                    <div class="uk-inline uk-animation-toggle" tabindex="0">
                        <a class="uk-button uk-button-link uk-button-large uk-animation-shake" target="_blank"
                            href="https://www.instagram.com/la_chevre_grisette/"><img height="64" width="64"
                                src="https://cdn.simpleicons.org/instagram" /></a>
                    </div>

                    <div class="uk-inline uk-animation-toggle" tabindex="0">
                        <a class="uk-button uk-button-link uk-button-large uk-animation-shake uk-margin-left"
                            target="_blank"
                            href="https://www.facebook.com/people/La-ch%C3%A8vre-Grisette/100095178930108/"><img
                                height="64" width="64" src="https://cdn.simpleicons.org/facebook" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>