<!DOCTYPE html>
<html>
    <head>
        <!-- favicon -->
        <link rel="icon" type="image/png" href="https://media.githubusercontent.com/media/la-chevre-grisette/art/main/images/favicon_32.png" />

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
    </head>
    <body>
        <div class="uk-position-cover uk-background-cover" style="background-image: url(https://media.githubusercontent.com/media/la-chevre-grisette/art/main/images/en_construction.jpg)">
            <div class="uk-overlay uk-overlay-default uk-text-center uk-position-center">
                <img src="https://raw.githubusercontent.com/la-chevre-grisette/art/main/images/logo.svg" alt="Le logo de la ch&#232;vre Grisette" width="400" />
                <h2>Les petites ch&#232;vres arrivent !</h2>
            </div>
        </div>
    </body>
</html>
