<!DOCTYPE html>
<html>
    <head>
        <title>La ch&#232;vre Grisette</title>
        <!-- favicon -->
        <link rel="icon" type="image/png" href="https://media.githubusercontent.com/media/la-chevre-grisette/art/main/images/favicon_32.png" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=akaya-telivigala:400" rel="stylesheet" />

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>

        <!-- Custom styles -->
        <style>
            * {
                font-family: 'Akaya Telivigala', display !important;
            }
        </style>
    </head>
    <body>
        <div class="uk-animation-kenburns uk-position-cover uk-background-cover" style="background-image: url(https://media.githubusercontent.com/media/la-chevre-grisette/art/main/images/en_construction.jpg)"></div>
        <div class="uk-overlay uk-overlay-default uk-text-center uk-position-center">
            <img src="https://raw.githubusercontent.com/la-chevre-grisette/art/main/images/logo.svg" alt="Le logo de la ch&#232;vre Grisette" width="300" />
            <h2>Les petites ch&#232;vres arrivent !</h2>
            <p class="uk-text-large">Retrouvez-nous sur les r&#233;seaux en attendant &#128071;</p>
            <a class="uk-button uk-button-default uk-button-large uk-animation-slide-left" target="_blank" href="https://blog.lachevregrisette.fr/"><img height="64" width="64" src="https://cdn.simpleicons.org/wordpress" /></a>
            <a class="uk-button uk-button-default uk-button-large uk-animation-slide-left" target="_blank" href="https://www.instagram.com/la_chevre_grisette/"><img height="64" width="64" src="https://cdn.simpleicons.org/instagram" /></a>
            <a class="uk-button uk-button-default uk-button-large uk-animation-slide-right" target="_blank" href="https://www.facebook.com/people/La-ch%C3%A8vre-Grisette/100095178930108/"><img height="64" width="64" src="https://cdn.simpleicons.org/facebook" /></a>
        </div>
    </body>
</html>
